<div class="header">
  <h1>{{this.autoPopulate.backtestTitle}}</h1>
</div>
<mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="tabIndexChanged($event)">
  <mat-tab label="Backtesting">
    <!-- start -->
    <div class="mx-3 my-3">

  <form [formGroup]="BacktestForm" (ngSubmit)="onSubmit()">

    <div class="card-body pb-1 col-md-15">

      <div class="form-group row">

        <!-- <div class="col">
          <label for="tperiod" class="col-form-label font-weight-bold">Time Period
            <span>&nbsp;&nbsp;<i class="fa fa fa-info-circle"
              ngbTooltip="Specify time period in years or in months" placement="right" container="body"
              id="eftoolTip"></i>
            </span>
          </label>
          <select (change)="Tperiod($event)" formGroupName="tperiod" class="form-control form-select" required>
            <option *ngFor="let data of tperiod" [ngValue]="data">{{data}}</option>
          </select>
        </div> -->

        <div class="col">
          <label for="start_date" class="col-sm-5 col-form-label font-weight-bold">Start Date
            <span>&nbsp;&nbsp;<i class="fa fa fa-info-circle"
              ngbTooltip="StartDate" placement="right" container="body"
              id="eftoolTip"></i>
            </span>
          </label>
          <input type="date" id="startDate" formGroupName="start_date" (change)="StartDate($event)"
            class="datepicker form-control">
        </div>

        <div class="col">
          <label for="etimes" class="col-sm-5 col-form-label font-weight-bold">End Date
            <span>&nbsp;&nbsp;<i class="fa fa fa-info-circle"
              ngbTooltip="EtartDate" placement="right" container="body"
              id="eftoolTip"></i>
            </span>
          </label>
          <input type="date" id="startDate" formGroupName="start_date" (change)="EndDate($event)"
                        class="datepicker form-control">
        </div>
      </div>

          <div class="form-group row">
            <div class="col">
              <label for="Iamount" class="col-form-label font-weight-bold">Initial Amount
                <span>&nbsp;&nbsp;<i class="fa fa fa-info-circle" ngbTooltip="initialAmount" placement="right"
                    container="body" id="eftoolTip"></i>
                </span>
              </label>
              <div class="input-group flex-nowrap">
                <span class="input-group-text">$</span>
                <input type="number" id="initialAmount" name="initialAmount" class="form-control fmt-posint"
                   placeholder="Amount..." autocomplete="off" formControlName="Iamount">
                <span class="input-group-text">.00</span>
              </div>
            </div>

            <div class="col">
              <label for="Cashflows" class="col-sm-5 col-form-label font-weight-bold">Cashflows
                <span>&nbsp;&nbsp;<i class="fa fa fa-info-circle" ngbTooltip="CashFlows" placement="right"
                    container="body" id="eftoolTip"></i>
                </span>
              </label>
              <select (change)="CashFlows($event)" formGroupName="Cashflows" class="form-control form-select" required>
                <option *ngFor="let data of cashflows" [ngValue]="data">{{data}}</option>
              </select>
            </div>
          </div>


      <div *ngIf="cashflowflag" class="form-group row">
        <div class="col">
          <label *ngIf="cashflowlabel=='contribute'" for="CashflowsAmount" class="col-form-label font-weight-bold">Contribute Amount
            <span>&nbsp;&nbsp;<i class="fa fa fa-info-circle"
              ngbTooltip="initialAmount" placement="right" container="body"
              id="eftoolTip"></i>
            </span>
          </label>
          <label *ngIf="cashflowlabel=='withdraw'" for="CashflowsAmount" class="col-form-label font-weight-bold">Withdraw Amount
            <span>&nbsp;&nbsp;<i class="fa fa fa-info-circle"
              ngbTooltip="initialAmount" placement="right" container="body"
              id="eftoolTip"></i>
            </span>
          </label>
          <div class="input-group flex-nowrap">
            <span class="input-group-text">$</span>
            <input type="number" id="initialAmount" name="CashflowsAmount" class="form-control fmt-posint"
              placeholder="Amount..." autocomplete="off" formControlName="CashflowsAmount">
            <span class="input-group-text">.00</span>
          </div>
        </div>

        <div class="col">
          <label *ngIf="cashflowlabel=='contribute'" for="CashflowsFrequency" class="col-sm-5 col-form-label font-weight-bold">Contribute Frequency
            <span>&nbsp;&nbsp;<i class="fa fa fa-info-circle"
              ngbTooltip="CashFlowsFrequency" placement="right" container="body"
              id="eftoolTip"></i>
            </span>
          </label>
          <label *ngIf="cashflowlabel=='withdraw'" for="CashflowsFrequency" class="col-sm-5 col-form-label font-weight-bold">Withdraw Frequency
            <span>&nbsp;&nbsp;<i class="fa fa fa-info-circle"
              ngbTooltip="CashFlowsFrequency" placement="right" container="body"
              id="eftoolTip"></i>
            </span>
          </label>
          <select (change)="CashFlowsFrequency($event)" formGroupName="CashflowsFrequency" class="form-control form-select" required>
            <option *ngFor="let data of frequency" [ngValue]="data">{{data}}</option>
          </select>
        </div>
      </div>

          <div class="form-group row">

        <div class="col">
          <label for="Rebalancing" class="col-sm-5 col-form-label font-weight-bold">Rebalancing
            <span>&nbsp;&nbsp;<i class="fa fa fa-info-circle"
              ngbTooltip="Rebalancing" placement="right" container="body"
              id="eftoolTip"></i>
            </span>
          </label>
          <select (change)="Rebalancing($event)" formGroupName="Rebalancing" class="form-control form-select" required>
            <option *ngFor="let data of rebalancing" [ngValue]="data">{{data}}</option>
          </select>
        </div>

        <div class="col" >
          <label for="Benchmark" class="col-sm-5 col-form-label font-weight-bold">Benchmark
            <span>&nbsp;&nbsp;<i class="fa fa fa-info-circle"
              ngbTooltip="BenchMark" placement="right" container="body"
              id="eftoolTip"></i>
            </span>
          </label>
          <select (change)="Benchmark($event)" formGroupName="Benchmark" class="form-control form-select" required>
            <option *ngFor="let data of benchmark" [ngValue]="data">{{data}}</option>
          </select>
        </div>
      </div>


          <div class="row form-group">
            <div class="table-responsive">
              <div class="cont" style="margin-top: 5%">
                <table class="table table-bordered table-hover">
                  <thead class="table-active">
                    <tr>
                      <th class="col-2">Asset</th>
                      <th class="col-3">Portfolio #1</th>
                      <th class="col-3">Portfolio #2</th>
                      <th class="col-2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container formArrayName="backtestHoldings">
                      <tr *ngFor="let holdingForm of backtestHoldings.controls; let i=index" [formGroup]="holdingForm">
                        <td><input formControlName="StockTicker" (click)="clickedArray($event);"
                            (keyup)="autoComplete(i,$event)" class="form-control" id="autoComplete"
                            (change)="autoComplete($event)" list="autocompletestock">
                          <datalist *ngIf="clicked" id="autocompletestock">
                            <option *ngFor="let ticker of stockList" [value]="ticker">
                              {{ticker}}
                            </option>
                          </datalist>
                        </td>
                        <td>
                          <div class="input-group mb-3"><input type="number" class="form-control" formControlName="Portfolio1" min="0" max="100">
                          <span class="input-group-text">%</span>
                          </div>
                        </td>
                        <td>
                          <div class="input-group mb-3">
                            <input type="number" class="form-control" formControlName="Portfolio2" min="0" max="100">
                            <span class="input-group-text">%</span>
                          </div>
                          </td>
                        <td (click)="deleteHolding(i)"><i class="fa fa-trash fa-2x"></i>
                        </td>
                      </tr>
                      <tr>
                        <td (click)="addHolding()">
                          <i class="fa fa-plus fa-2x"></i>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
<!--
          <div class="row mt-2  ">
            <div *ngIf="!BacktestForm.invalid" class="col-12" style="text-align: center;">
              <button type="button" class="btn btn-primary" (click)="submitHolding(form)">Analyze</button>
            </div>
          </div> -->

          <button (click)='save()' class="btn btn-primary">Analyze portfolios</button>

          <button class="btn btn-light">cancel </button>
          <p *ngIf='savedData'> {{ savedData | json }} </p>

    </div>
  </form>
</div>
</mat-tab>
<mat-tab label="Results">
    <!-- Graph here -->
    <div>
      <div style="float: left;">
        <app-backtest-sidebar></app-backtest-sidebar>
      </div>
      <div *ngIf="this.autoPopulate.btweightsFlag.value">
        <app-backtest-weights></app-backtest-weights>
      </div>
      <div *ngIf="this.autoPopulate.btPgFlag.value">
        <app-backtest-portfolio></app-backtest-portfolio>
      </div>
      <div *ngIf="this.autoPopulate.btMtFlag.value">
        <app-backtest-metrics></app-backtest-metrics>
      </div>
      <div *ngIf="this.autoPopulate.btDdFlag.value">
        <app-backtest-drawdown></app-backtest-drawdown>
      </div>
    </div>
</mat-tab>
</mat-tab-group>
<!-- Loader Overlay -->
<div *ngIf="loader.loaderState$ | async" class="loader-overlay">
  <div class="loader-content">
      <mat-progress-spinner [diameter]="60" class="loader-spinner" color="primary"
          mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
