<div class="container">
    <div class="row">
        <div class="col-6">
            <button type="button" routerLink="/model-portfolio-list" class="btn btn-sm btn-primary mx-3 mt-3"
                (click)="clicked('model')">&nbsp;&nbsp;Model
                &nbsp;&nbsp;&nbsp; <br>&nbsp;
                Portfolio &nbsp;</button>
        </div>
        <div class="col-6">
            <button type="button" routerLink="/index-tracking" class="btn btn-sm btn-primary mx-3 mt-3"
                (click)="clicked('index')">&nbsp;&nbsp;Index
                &nbsp;&nbsp;&nbsp; <br>&nbsp;
                Tracking&nbsp;</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <button type="button" routerLink="/login" class="btn btn-sm btn-primary mx-3 mb-3">&nbsp;&nbsp;Portfolio
                &nbsp;&nbsp;&nbsp; <br>&nbsp;Builder&nbsp;</button>
        </div>
        <div class="col-6">
            <button type="button" routerLink="/custom-portfolio" class="btn btn-sm btn-primary mx-3 mb-3"
                (click)="clicked('scratch')">&nbsp;&nbsp;Create
                &nbsp;&nbsp;&nbsp; <br>&nbsp;
                Scratch&nbsp;</button>
        </div>
    </div>
</div>