<form [formGroup]="firstFormGroup">
    <div class="card">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th></th>
                    <th *ngFor="let col of cols">
                        {{col.header}}
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of products;let i=index">
                    <td>
                        <input type="checkbox" formControlName="checkboxControl{{i}}" (change)="onCheckboxChange()">
                    </td>
                    <td *ngFor=" let col of cols">
                        {{row[col.field]}}
                    </td>
                    <td>
                        <a type="button" (click)="viewModelPortfolio(i)" class="btn btn-primary" data-container="body"
                            data-toggle="popover" data-placement="left">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            View
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</form>